{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
    <h1>{{ 'ekyna_characteristics.choice.header.remove'|trans({'%name%': definition.title})|raw }}</h1>
{% endblock %}

{% block actions %}
    {{ ui_button('ekyna_characteristics.choice.button.new', {'type': 'link', 'path': path('ekyna_characteristics_choice_admin_new', {'name': definition.identifier}), 'theme': 'success'}) }}
    {{ ui_button('ekyna_core.button.back_to_list', {'type': 'link', 'path': path('ekyna_characteristics_choice_admin_list', {'name': definition.identifier})}) }}
    {{ ui_button('ekyna_core.button.back', {'type': 'link', 'path': path('ekyna_characteristics_choice_admin_home')}) }}
{% endblock %}

{% block main %}
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ bootstrap_set_label_col(2) }}
    {{ bootstrap_set_widget_col(10) }}

    {{ form_start(form) }}
        <div class="form-body">
            {{ form_widget(form) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
